*{
      scroll-behavior: smooth;
      animation: transitionib 0.75sec;
}
.container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      background-color:black;
      font-family: 'Righteous', cursive;
      
}
@keyframes transitionib {
      from {
            opacity: 0;
            transform: rotateX(-10deg);
      }
      to {
            opacity: 1;
            transform: rotateX(0);

      }
}
.block-effect {
      font-size: calc(5px + 3vw);
      height: 100vh;
      background-image: url(./images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position-x: center;
      box-shadow: rgba(13, 14, 13, 0.8) 0 3000px inset;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
      font-family: 'Play', sans-serif;
      
    }
    
 .block-reveal {
      --t: calc(var(--td) + var(--d));
      color: transparent;
      padding: 4px;
      position: relative;
      overflow: hidden;
      animation: revealBlock 0s var(--t) forwards;
    }
    
.block-reveal::after {
      content: '';
      width: 0%;
      height: 100%;
      padding-bottom: 4px;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--bc);
      animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
    }
    
    
    /* animations */
@keyframes revealBlock {
      100% {
        color:white;
        font-weight: bolder;

      }
    }
    
@keyframes revealingIn {
      100% {
        width: 100%;
      }
    }
    
@keyframes revealingOut {
      100% {
        transform: translateX(100%);
      }
    
    }

.block-reveal>a{
          text-decoration: none;
          color: white;
          padding: 10px;
    }
header {
          display: flex;
          background-image: url(./images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
          background-size: cover;
          background-position-x: center;
          box-shadow: rgba(13, 14, 13, 0.8) 0 3000px inset;
          justify-content: flex-end;
          position: fixed;
          width: 97.7vw;
          border-top: hotpink 3px solid;
    }

 nav>ul>li{
          display: inline-block;
          padding: 5px;
          margin:5px;
          line-height: 10px;
          
    }

nav>ul>li>a {
          text-decoration: none;
          color: white;
          font-size: large;
          padding: 10px;
}
nav>ul>li>a:hover {
          border: solid 2px #ff69b4;
}
    
.block-reveal>a:hover {
          border: solid 2px hotpink;
          color: hotpink;

}
.description,.description2,.description3,.description4 {
      display: none;
}
#about {
          height: 100vh;
          display: flex;
          justify-content: space-between;
          background-image: url(./images/christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
          background-attachment: fixed;
          background-position-x: center;
          background-size: cover;
          box-shadow: rgba(13, 14, 13, 0.9) 0 3000px inset;
          color: white;
          padding: 15px;
}

#jobs {
      display: flex;
      text-align: center;  
      background-image: url(./images/nihonorway-graphy-nCvi-gS5r88-unsplash.jpg);  
      background-size: cover;
      background-position-x: center;
      background-attachment: fixed;
      box-shadow: rgba(13, 14, 13, 0.8) 0 3000px inset;
      color: white;
      font-size: large;
}

#jobs>div {
      margin: 30px;     
}

#jobs>div>img {
      border-radius: 20px;
      position: relative;
}

#jobs>div>p {
            border: solid 1.5px hotpink;
            border-radius: 10px;
            max-width: 15vw;
}

.heading {
         text-align: center;
         font-size: 30px;
         line-height: 3px;
         color: hotpink;
         font-family: 'Fondamento', cursive;
         
}
#contacts {
         background-image: url(./images/pawel-czerwinski--0xCCPIbl3M-unsplash.jpg);
         background-size: cover;
         background-position-x: center;
         background-attachment: fixed;
         box-shadow: rgba(13, 14, 13, 0.7) 0 3000px inset;
         color: white;
         height: 80vh;
         margin-top:10px;
         display: flex;
         justify-content: space-between;
}

.info{
      padding: 10px;
      display: flex;
      align-items: center; 
}

.info>img {
      padding:10px 10px 20px 0;
      align-items: center;


}

form {
      margin:25px 100px 0 0;
}
textarea {
      box-shadow: hotpink 0 5px 5px 0 inset;
      background-color: black;
      color: hotpink;
      font-size: large;
}
button {
      font-size: large;
      cursor: pointer;
      background-color: #131212;
      color: hotpink;
      padding: 5px;
}

button:hover {
      border: hotpink 2px solid;
      color: white;
}

span {
      text-align: center;
      font-size: small;
      color: hotpink
}


@media screen and (max-width:750px){
      .container{
            overflow-x: hidden;
      }
      #about {
            display: flex;
            flex-direction: column;
            height: 100%;
      }
      #about>img {
            width: 100%;
      }

      #jobs {
            display: flex;
            flex-direction: column;
      }

      #contacts {
            display: flex;
            flex-direction: column;
            height: 100%;
      }
      
       textarea {
            width: 97vw;
            margin: 5px;
            
       }
       heder {
             width: 95vw;
             display: flex;
             flex-direction: column;
             border: solid hotpink 1px;
             opacity: 0.8;
             
       }

 nav>ul>li{
      padding: 2px;
      line-height: 10px;
      display: inline-block;
      
      
}

nav>ul>li>a {
      text-decoration: none;
      color: white;
      font-size: large;
      padding: 5px;
      font-size:15px;

}
}